
<div class="container mt-5 bg-index">
            <div class="col-sm-12 col-md-8 col-lg-6 mx-auto ba">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="text-center">
                      <h3 class="mb-0"><i class="fa fa-unlock fa-4x"></i></h3>
                      <h2 class="text-center  mb-0">Confirm Password</h2>
                      <p>You can reset your password here.</p>
                      <div class="panel-body">
                        <form #confirmForm="ngForm" (ngSubmit)="confirmPass(confirmForm)">
                          <div class="form-group">
                            <div class="input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                              <input id="password" name="password" type="password" ngModel class="form-control">
                            </div>
                          </div>
                          <div class="form-group">
                            <input class="btn btn-lg btn-primary btn-block" value="Confirm Password" type="submit">
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    </div>