<div class="fluid pr-1 pl-1 form-action mt-3">
   <div class="loader-center" *ngIf="loaderShow">  <app-loader></app-loader> </div>
    <div class="alert alert-danger col-sm-12 col-md-8 col-lg-6 mx-auto" *ngIf="isLoginErrorMessage">
        {{errorMessageLogin}}
    </div>
    <form #authLoginForm="ngForm" (ngSubmit)="authLoginSubmit(authLoginForm)" >
        <div class="col-sm-12 col-md-8 col-lg-6 mx-auto ba">
            <div class="form-group mt-3">
                <label for="email">Login Email</label>
                <input type="email" class="form-control" id="email" name="email" ngModel email required>
            </div>
            <div class="form-group mt-3">
                <label for="password">Login Password</label>
                <input type="password" class="form-control" name="password" id="password" ngModel required>
            </div>
            <div class="mb-1">
                <button type="submit" class="btn btn-primary col-md-2 col-sm-12 mr-1 mb-2" [disabled]="!authLoginForm.valid">Login</button>
                <button (click)="signup()" class="btn btn-primary col-md-3 mr-1 mb-2">Sign Up </button>
                <button (click)="resetPassword()" class="btn btn-primary col-md-6 col-sm-12 mb-2">Forget Password</button>
 
            </div>
            <div class="mb-1">
                    <a class="fa fa-facebook"></a>
                    <a class="fa fa-twitter"></a>
                    <a (click)="doGoogle()" class="fa fa-google"></a>
                    <a class="fa fa-linkedin"></a>
                    <a class="fa fa-phone" (click)="doPhone()"></a>

               
            </div>
        </div>
    </form>
</div>