<div class="container mt-5">
    <div class="alert alert-danger" *ngIf="isLoginErrorMessage">
        {{errorMessageLogin}}
    </div>
    <form #authLoginForm="ngForm" (ngSubmit)="authLoginSubmit(authLoginForm)">
        <div class="col-4 mx-auto ba">
            <div class="form-group mt-3">
                <label for="email">Login Email</label>
                <input type="email" class="form-control" id="email" name="email" ngModel email required>
            </div>
            <div class="form-group mt-3">
                <label for="password">Login Password</label>
                <input type="password" class="form-control" name="password" id="password" ngModel required>
            </div>
            <div class="mb-5">
                <button type="submit" class="btn btn-primary " [disabled]="!authLoginForm.valid">Login</button> |
                <button (click)="signup()" class="btn btn-primary">Sign Up </button> |
                <button (click)="resetPassword()" class="btn btn-primary">Forget Password</button>
            </div>
        </div>
    </form>
</div>