<div class="fluid ">
    <h3 class="col-12 ">Crud Example</h3>

    <form #f="ngForm">

        <div class="form-group col-12 col-sm-4 col-md-4 col-lg-4">
            <label for="firstname">firstname</label>
            <input type="text" class="form-control" [(ngModel)]="user.firstname"  ngModel name="firstname" required>
        </div>

        <div class="form-group col-12 col-sm-4 col-md-4 col-lg-4">
            <label for="firstname">Last Name</label>
            <input type="text" class="form-control" [(ngModel)]="user.lastname" ngModel name="lastname" required>
        </div>
        <div class="form-group col-12 col-sm-4 col-md-4 col-lg-4">
            <label for="age">Age</label>
            <input type="number" class="form-control" [(ngModel)]="user.age" ngModel name="age" required>
        </div>
        <div class="form-group col-12 col-sm-4 col-md-4 col-lg-4">
            <button (click)=addUser(f) class="btn btn-success" [disabled]="!f.valid" *ngIf="addUserDetails">Add User</button>
            <button (click)=updateUser(f) class="btn btn-success" *ngIf="updateUserDetails">Update User</button>
        </div>
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="user.query" name="query" id="listSearch">
        <div class="col-12 col-sm-8 col-md-8 col-lg-6" *ngIf="!showUserDetail">
            <app-registertable></app-registertable>
        </div>
    </form>

</div>
<hr >
<div class="col-12 col-sm-8 col-md-8 col-lg-6">
    <h3>Change Detection Example</h3>

    <h6>Before Change Detection(Default) {{data.name}}--{{data.age}}
    </h6>
    <h6>Change Detection(onPush) {{data.name}}--{{data.age}}</h6>
</div>