/* You can add global styles to this file, and also import other style files */
.form-gap {
    padding-top: 70px;
}
.ba {
    border: 1px solid #ccc;
    border-radius: 5px;
}
.bg-index{
    position: relative;
    z-index: 9999;
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html {
    background-color: #212121;
    background-image: url('./assets/image/sValK.png');
    background-size: 100%;
    background-repeat: no-repeat;
    }
    .hero {
        display: none;
    }
  }